.del {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgb(62, 92, 190);
}

<<<<<<< HEAD
=======
.del #reply{
    margin: 0;
}

>>>>>>> 95a94a0fc2986d27f2bb92eaf0bb39d3f477fcba
.card {
    margin: auto;
}

.add {
    background: rgb(255, 56, 95);
}

@media only screen and (max-width: 600px) {
    .crud {
        left: 0;
        top: 0;
        transform: translate(0, 0);
        padding: 0;
    }
}